*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
    background-color: black;
}
.filme{
    
    height: 400px;
    width: 2000px;
    margin-left: 50px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
}
.img{
margin-top: 30px;
width: 200px;
height: auto;
background-color: black;
}

.cor{
    color: white;
   
}
.centro{
    text-align: center;
}
.Pesquisar{
    border: 2px solid white;
}
.legenda{
    margin-left: 220px;
    margin-top: -49vh;
    height: 300PX;
    width: 1000px;
}
.quadrado{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-left: 15px;
}
.margimtempo{
    margin-top: -30px;
}
.Branco{
    background-color: white;
    color: white;
    width: 2000px;
    height: 180px;
    margin-top: 10px;
}
.Fontepreto{
    color: black;
    margin-top: -200px;
    margin-left: 60px;
}
.Fontepreto2{
    color: black;
    
}
.sinopse{
   
    width: 700px;
    margin-left: 250px;
    margin-top: -40px;
}
.filme{
    margin-left: 150px;
}
.linha{
    height: 5px;
    background-color: #700e0e;
}

.foot{
    margin-top: 150px;
}