/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(41, 12, 12));
    font-family: Arial, sans-serif;
}

/* Estilo do container do filme */
.filme {
    width: 90%;
    margin: 20px auto;
    display: flex;
    margin-left: 10vw;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
    align-items: center;
    justify-content: flex-start; /* Mantém os elementos alinhados à esquerda */
    padding: 20px;
    border-radius: 10px;
    gap: 20px; /* Espaço entre os itens */
}

/* Imagem do filme */
.Imgfilme {
    max-width: 250px;
    height: auto;
    background-color: black;
    border-radius: 10px;
    flex-shrink: 0; /* Garante que a imagem não diminua além do limite */
}

/* Legenda ao lado da imagem */
.legenda {
    flex: 1; /* Ocupa o espaço restante */
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.Classificação{
    margin-top: 5vh;
}
/* Sinopse abaixo do filme */
.sinopse {
    width: 60%;
    margin-left: 20%;
    margin-top: -2vh;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.sinopse2{
    margin-left: 8vw;
}
.margem{
    margin-left: 0;
}
#iconecasa{
    width: 30px;
}
.quadrado{
 margin-top: 2vh;
}
.Fontepreto {
    color: black;
    margin-top: 20px;
}

.linha {
    height: 6px;
    background-color: #700e0e;
    width: 100%;
    border-radius: 5px;
}

.Assita{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(75, 23, 23);
    border: 2px solid #ffffff;
    margin-top: 2vh;
    color: white;
    order: 0;
}
.Assita:hover{
    border-color: #a22d2d;
    background-color: rgba(80, 0, 0, 0.614);
}
.Branco {
    background-color: rgba(255, 255, 255, 0.815);
}


.foot {

    text-align: center;
    background-color: #700e0e;
    color: white;
    padding: 10px;
    margin-top: 3vh;
}

/* Responsividade */
@media (max-width: 768px) {
    .Imgfilme {
        max-width: 250px;
        margin: 0 auto 20px;
}
#iconecasa{
    margin-left: -35vw;
}

}

@media (max-width: 570px) {
    .legenda{
        background-color: #700e0e;
    }
}
@media (max-width: 540px){
    #iconecasa{
        margin-left: -30vw;
    }
    .film{
        overflow-x: none;
    }
    .body{
        overflow: hidden;
    }
}
@media (max-width: 370px){
    #iconecasa{
        margin-left: -27vw;
    }
}